<!DOCTYPE HTML>
<html><head>
    <meta charset="utf-8">
    <title>List of Futhark Packages</title>
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="header">
      <h1>List of Futhark Packages</h1>
    </div>

    <div id="content">

      <p>
        A package can be installed with <code>futhark-pkg
          add <em>pkgpath</em> <em>version</em></code>.  The version
        number may be omitted.  For more information, see
        the <a href="http://futhark.readthedocs.io/en/latest/package-management.html">chapter
          on package management in the Futhark User's Guide</a>.  Click
        on a version number to obtain documentation for that version.
      </p>

      <dl id="packages">
        {{range $pkg := .Pkgs}}
        <dt>
          <a class="packagename" href="https://{{$pkg.Path}}">{{$pkg.Path}}</a>
          (<a href="{{$pkg.Path}}-{{$pkg.Newest}}/">docs</a>;
          <ul class="versions">
            <li class="versions_all">...</li>
            {{range $version := $pkg.Versions}}
            <li class="version">
              <a href="{{$pkg.Path}}-{{$version}}/">{{$version}}</a>
            </li>
            {{end}}
          </ul>)
        </dt>
        <dd>
          {{$pkg.Desc}}
        </dd>
        {{end}}
      </dl>

      <p>
        See the <a href="https://github.com/diku-dk/futhark-docbot/blob/master/README.md"><code>README</code>
          file</a> in the <a href="https://github.com/diku-dk/futhark-docbot"><code>futhark-docbot</code>
          repository</a> for the procedure to add your Futhark package
        to the list.
      </p>
    </div>

    <div id="footer">
      Index last updated on {{.Date}}
    </div>
  </body>
</html>
