body {
    background-color: #fff9e5;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    line-height: 1.4;
}

h1 {
    margin-top: 0;
    display: inline;
}

h2 {
    margin-bottom: 1ex;
    font-size: 2em;
    color: #5f021f;
}

h3 {
    font-size: 1em;
    color: #5f021f;
}

p {
    max-width: 65em;
}

td {
    vertical-align: top;
}

#header, #footer {
    color: #fff9e5;
    background: #5f0220;
}

#header {
    padding-left: 1em;
}

#content {
    padding: 0 1em;
}

#footer {
    padding: 0 1em;
}

#footer a, #footer a:visited {
    color: #fff9e5;
}

.versions {
    display: inline;
    padding-left: 0;
}

.versions li {
    display: inline;
}

#packages > dt {
    background: #ffcc7a;
    font-family: monospace;
    border-top: 1px solid #5f021f;
    margin-top: 1em;
}

.packagename {
    font-weight: bold;
}
